.link{
    padding: 10px;
    color: #2d0505;
    border: 3px solid #bfb4b4;
    border-radius: 10px;
    background-color: silver;
    font-family: Georgia, serif;
    margin-left: 5px;
    margin-top: 20px;
    font-size: 20px;
    text-decoration-line: none;
}
.link:hover{
    font-size: 23px;
  }

.box{
    color: #433535;
    height: 100px;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    background-color: #bcb9b9;
}
.Name{
    font-family: Georgia, serif;
    margin-left: 200px;
    margin-right: 200px;
    align-content: center;
    text-align: center;
    margin-top: 10px;
    size: A4;
    font-size: 60px;

}
.Panel{
    display: inline-flex;
}
#UserPanel{
    display: flex;
    justify-items: end;
}
footer{
  background-color: #bcb9b9;
  border-top: 2px #27282d solid;
  display: block;
}
.Contact{
    font-family: Georgia, serif;
  font-size: 20px;
  padding: 5px;
}
.Phone{
  font-family: Georgia, serif;
  font-size: 17px;
  padding: 5px;
}