*{
    margin: 0;
    padding: 0;
}
.enter{
    width: 400px;
    height: 350px;
    border: 6px #cf6565 solid;
    border-radius: 20px;
    background-color: #d9cece;
}
.reg{
    font-size: 20px;
    font-family: Georgia, serif;
    margin: 10px;
}
form{
    margin-top: 50px;
    background-color: #d9cece;
}
input{
    border-radius: 7px;
}
button{
    border-radius: 7px;
    color: #661414;
    background-color: #d9cece;
}
.backImg{
    width: 100%;
    height: 500px;
    margin-top: 0;
    background-image: url("https://st3.depositphotos.com/23208318/33140/v/950/depositphotos_331407298-stock-illustration-pharmacy-background-clinic-backdrop.jpg?forcejpeg=true");
}
.sign{
    font-size: 30px;
    font-family: Georgia, serif;
    margin: 50px;
}
input {
    border-radius: 7px;
    font-size: 20px;
    margin: 5px;
    font-family: Georgia, serif;
  }
button {
    margin: 20px;
    border-radius: 7px;
    color: #070707;
    background-color: #bca6a6;
    font-size: 20px;
    width: 150px;
    font-family: Georgia, serif;
}